node_modules/
.next/
out/
next-env.d.ts
*.log
.phpunit.cache/
.env
.env.*
!.env.example
vendor/
public/error_log
public/build.zip
app.zip
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
